.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#logo {
  text-align: center;
}

/* user panel */
#userPanel {
  color: white;
  background-color: #333;
  width: 25%;
  height: 100px;
  margin: 0 0 1em 0;
}
#userImage {
  border-radius: 120px;
  border: 5px solid black;
  float: left;
  width: 100px;
  height: 100px;
  background-color: #555;
  margin: 0 1.5em 0 0;
}

.navButtons {
  color: white;
  background-color: #565856;
  padding: 20px 0;
}
.navButtons:hover {
  color: white;
  background-color: #637381;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
